#topic{
  background-color: lightslategrey;
  height:100px;
  padding-top:25px;
}

#listofcountries {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#listofcountries td, #listofcountries th {
  border: 2px solid #ddd;
  padding: 8px;
}

#listofcountries tr:nth-child(even){background-color: #f2f2f2;}

#listofcountries tr:hover {background-color: #ddd;}

#listofcountries th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #766f7a;
  color: white;
}
li{
  font-size:20px;
  border-left:5px solid black;
  border-right:5px solid rgb(37, 36, 36);
  border-bottom:5px solid  black;
  color:white;
}
#img2{
  width: 250px;
  height: 250px;
}


#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height:200px;
  overflow:scroll;
}

#myUL li{
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  
}

#myUL li:hover:not(.header) {
  background-color: #eee;
}
#loading,#loading2{
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
}



#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}


#loading-image-small {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}

